.has-run-button 
{
    position: relative;
}

.run-code-button
{
    position: absolute;
    
    top: 0px;
    right: 0px;

    height: 100% !important;
    
    margin-left: auto;
    margin-right: 0;

    display: block;
    
    padding: 0px;
    font-size: 0.9em;

    background-color: #303030;
}

.has-run-button button:hover
{
    background-color: #3C3836;
}

.run-code-button span
{
    display: inline-block;
    transform: rotate(90deg);
    font-weight: bold;
    font-family: sans-serif;
    color: #ADFF2F;
    letter-spacing: 2.5px;
}

pre[class*="language-"]
{
    margin-right: 37.5px !important;
}

.output-panel
{
    width: 100%;
    min-height: 44px;
    max-height: 500px;
    background-color: #303030;
    margin-top: 25px;
    padding: 10px;
    overflow: auto;
}

/*solve style conflicts with copy-code-button plugin*/

pre[class*="language-"] .copy-code-button
{
    margin-right: 37.5px !important;
}